// Place all the styles related to the colours controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


input.form-control[type='text'] {
  width: 250px;
}
#preview{
  width: 250px;
  height: 40px;
}

.body{
  margin: 20px;
}