// Place all the styles related to the palettes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card#palette{
  width: 25rem;  
}

#palette_name{
  width: 20rem;
}


.select2{
  width: 20rem;
  height: 40px;
}

#swatch{
  width: 30px;
  height: 30px;
  position: relative;
  float: left;
}

#pagination {
  margin-left: 75px;
}