<center><h3 style="color: #faa">Colour Creator</h3></center>
<div class = "body" style = "margin-left: 10px">
  <p>
    <%= link_to '< Go back to create palette', new_palette_path %>
  </p>

  <div >
      <%= render 'form', save_button: 'Add' %>
  </div>
</div>