<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="nav navbar-nav">
      <a class="nav-item nav-link fa fa-home" href="/palettes">Home</a>
    </div>
    <div class="nav navbar-nav">
      <a class="nav-item nav-link fa fa-list-alt" href="/colours">Colours</a>
      <a class="nav-item nav-link fa fa-plus" href="/palettes/new">New Palette</a>
    </div>
  </div>
</nav>
<br>

<center><h3 style="color: #faa">Colour Creator</h3></center>

<div class = "body">

  <div >
      <%= render 'form', save_button: 'Add' %>
  </div>
</div>